@page
@model ComaCuras.web.Areas.Panel.Pages.Agents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Agent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agent.Name" class="control-label"></label>
                <input asp-for="Agent.Name" class="form-control" />
                <span asp-validation-for="Agent.Name" class="text-danger"></span>
            </div>
            <div>
                <h4>Services :</h4>
                <dl class="row">
                    @for (int i = 0; i < Model.Service.Count(); i++)
                    {
                        <dt class="col-sm-1">
                            <input asp-for="Service[i].IsChecked" />
                        </dt>
                        <dd class="col-sm-11">
                            @Model.Service[i].Name
                        </dd>
                        <dd>
                            <input type="hidden" asp-for="Service[i].Id" />
                        </dd>
                    }
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- one option to multiple selects -->
    <script>
        $(document).ready(
            $('option').mousedown(function (e) {
                e.preventDefault();
                $(this).prop('selected', !$(this).prop('selected'));
                return false;
            })
        )
    </script>
}
