@page
@model ComaCuras.web.Areas.Panel.Pages.Admin.DetailsShopModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div>
        <a asp-page="./IndexShop">Back to List</a>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-shop-tab" data-toggle="tab" href="#nav-shop" role="tab" aria-controls="nav-shop" aria-selected="true">Details</a>
            <a class="nav-link" id="nav-services-tab" data-toggle="tab" href="#nav-services" role="tab" aria-controls="nav-services" aria-selected="true">Services</a>
            <a class="nav-link" id="nav-agents-tab" data-toggle="tab" href="#nav-agents" role="tab" aria-controls="nav-agents" aria-selected="false">Agents</a>
            <a class="nav-link" id="nav-schedule-tab" data-toggle="tab" href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="false">schedule</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-shop" role="tabpanel" aria-labelledby="nav-shop-tab">
            <partial name="_shop_details" />
        </div>
        <div class="tab-pane fade show" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">
            <partial name="_services_details" />
        </div>
        <div class="tab-pane fade" id="nav-agents" role="tabpanel" aria-labelledby="nav-agents-tab">
            <partial name="_agents_details" />
        </div>
        <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
            <partial name="_schedule_details" />
        </div>
    </div>
</div>
