@page
@model ComaCuras.web.Areas.Panel.Pages.Images.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-responsive-md">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="form-group">
                   
                </div>
            </td>
        </tr>

    </tbody>
</table>
